* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.information {
  text-align: center;
  padding-bottom: 1em;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
  border-bottom-width: 1px;
}

.main-nav li {
  padding: 0.4em 1em;
}
